[Unit]
Description=Oblong g-speak4.5 Plasma Server
# Note: having the lines
#  Wants=network-online.target
#  After=network-online.target
# don't do what you might think, it causes a cycle and a warning message, and is ignored.
# See also https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
# https://www.freedesktop.org/software/systemd/man/systemd.special.html
# We probably want gentle shutdown while network is alive, so specify that with After=network.target:
After=network.target

[Service]
Environment=POOL_TCP_SERVER_OPTS=
Environment=OB_POOLS_DIR=/var/ob/pools
# plasma.conf is optional, may contain any needed environment variable overrides for the server, e.g.
# OB_POOLS_DIR=/ramdisk/pools
# OB_LOG="info 20500017=off"
# POOL_TCP_SERVER_OPTS="-C -p 12345"
EnvironmentFile=-/etc/oblong/plasma.conf
# We can't rely on the postinst script to do the mkdir, since user may have changed the environment file
ExecStartPre=/bin/sh -c "mkdir -p $OB_POOLS_DIR; echo Warning: marking $OB_POOLS_DIR world-writable; chmod 777 $OB_POOLS_DIR"
Type=simple
ExecStart=/opt/oblong/g-speak4.5/bin/pool_tcp_server -n $POOL_TCP_SERVER_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
