Source: oblong-obs
Section: non-free
Priority: extra
Maintainer: Dan Kegel <dank@oblong.com>
Build-Depends: build-essential,
   debhelper (>= 8.0.0),
   devscripts,
Standards-Version: 3.9.4

Package: oblong-obs
Architecture: all
Depends: ${misc:Depends},
Description: Oblong-specific build tools
 Oblong bootstrap scripts.
 Simple, low level build/install/uninstall plumbing which works
 even without any other Oblong package present.
 Suitable for shipping with the Oblong platform.
