Source: oblong-obs
Section: non-free
Priority: extra
Maintainer: Dan Kegel <dank@oblong.com>
Build-Depends: build-essential,
   asciidoc,
# Depend on bats, but only on new enough systems
   bats | libc6 (<< 2.20),
   build-essential,
   debhelper (>= 8.0.0),
   devscripts,
   docbook-xml,
   gnupg2|gnupg,
   golang (>> 2:1.9) | golang-1.10,
# possibly controversial - entropy magnifier to avoid build hangs due to lack of entropy
   haveged,
   jq,
   libicu-dev,
   libxml2-utils,
   python-dev,
   python-pip,
   python-setuptools,
   python-wheel,
   reprepro,
   util-linux,
   xsltproc,
Standards-Version: 3.9.4

Package: oblong-obs
Architecture: all
Replaces: oblong-bau
Provides: oblong-bau
Depends: ${misc:Depends},
   lcov,
   dpkg-dev,
   debhelper (>= 8.0.0),
   devscripts,
   jq,
Description: Oblong-specific build tools
 Oblong bootstrap scripts.
 Simple, low level build/install/uninstall plumbing which works
 even without any other Oblong package present.
 Suitable for shipping with the Oblong platform.
