#!/usr/bin/make -f

# Workaround to avoid clash during 'localbuild.sh build nobuild'
BS_GNUPGHOME=/tmp/obs_localbuild_gpghome_$(LOGNAME).alt.tmp
export BS_GNUPGHOME

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@
