*-dbg
*.bak
*.debhelper
*.log
*.substvars
.debhelper
debhelper-build-stamp
files
oblong-mezzanine-appliance3.22
oblong-mezzanine-deps3.22
oblong-mezzanine-extras3.22
oblong-mezzanine-full-amd3.22
oblong-mezzanine-full3.22
oblong-mezzanine-init3.22
oblong-mezzanine-lightbox3.22
oblong-mezzanine-updater3.22
oblong-mezzanine3.22
oblong-whiteboard3.22
tmp
