*-dbg
*.bak
*.debhelper
*.log
*.substvars
.debhelper
debhelper-build-stamp
files
oblong-mezzanine-appliance3.30
oblong-mezzanine-application3.30
oblong-mezzanine-deps3.30
oblong-mezzanine-extras3.30
oblong-mezzanine-full3.30
oblong-mezzanine-init3.30
oblong-mezzanine-lightbox3.30
oblong-mezzanine3.30
oblong-whiteboard3.30
tmp
